// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";

body {
  // background: #162B37;
  color: #243842;
}

button {
  background-color: #253842;
  color: #D6882D;
  border: 2px solid #D6882D;
}

button:hover {
  background-color: #D6882D;
  color: #EBEDED;
  border: 2px solid #D6882D;
}

h4 {
  color: #D6882D;
}

h3 {
  color: #D6882D;
}

h2 {
  color: #D6882D;
}

.mainContainer {
  position: relative;
    min-height: 100%;
}

.top-bar {
  color: #D6882D;
  background-color: #253842;

  img {
    max-height: 100%;
  }
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: #253842;
  color: #EBEDED;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #D6882D;
}

.top-bar .name h1 a {
  color: #D6882D;
}

.container {
  max-height: 100%;
  overflow: hidden;
  margin: 15px 15px 0 15px;

  a {
    color: #D6882D;
  }
}

.home {

  .leftBox {
    background-color: white;
    width: 20vw;
    height: 100vh;
    position: absolute;
    background-color: #162B37;
    text-align: center;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .name {
    font-size: 5em;
    margin-bottom: -12.5vh;

  }

  .dash {
    color: #D5862F;
    font-size: 4em;
    margin-bottom: -0.7vh;
  }

  .title {
    font-size: 2em;
  }
  .coming {
    font-size: 0.8em;
    font-style: italic;
    position: absolute;
    bottom: 0;
    margin-left: 36%;
  }

  .bigLogo {
    max-width: 50%;
    margin: 0 auto;
    display: inline-block;
  }

  .homeMenu {
    color: #162B37;
    text-align: center;
    margin-left: 18vw;
    padding-top: 28vh;

    ul {
      list-style: none;
      text-align: center;
      margin-top: 9vh;

      li {
        display: inline-block;
        color: #E08D2E;
        font-size: 1.2em;
        margin: 0 2px;


        a {
          color: #162B37;
        }

        a:hover {
          color: #E08D2E;
        }
      }
    }
  }
}

.aboutPage {

  div {
    width: 60%;
  }
}

.resumePage {

  .skillsContainer {

    .skillsTitle {
      cursor: pointer;
    }
  
    .skillsList {
      display: none;

      li {
        // padding: 2px;
        // margin: 2px;
      }
    }
  }

  .experienceContainer {

    .experienceTitle {
      cursor:pointer;
    }

    .experienceItem {
      display: none;
      cursor: pointer;

      ul {
        display: none;
      }
    }
  }
  .educationContainer {

    .educationTitle {
      cursor: pointer;
    }

    .educationItem {
      display: none;
    }
  }

  div {
    width: 75%;
  }
}
