<div class="home">
  <div class="leftBox"><img src="./graphics/codessplash.png"></div>
  <div class="homeMenu">
    <div>Charlie Miller</div>
    <div>___________________</div>
    <div>Front-End Web Developer</div>
    <ul>
      <li><a href="#/about">E-mail</a></li>
      <li>|</li>
      <li><a href="#/coding">Github</a></li>
      <li>|</li>
      <li><a href="#/photography">LinkedIn</a></li>
    </ul>
</div>


<!-- <footer>
  <p>&copy; 2015 Charlie Miller - <a href="mailto:charlie@thecharlah.com">charlie@thecharlah.com</a></p>
</footer> -->