<div class="home">
  <div class="leftBox"><img src="./graphics/codessplash.png"></div>
  <div class="homeMenu">
    <div class="name">Charlie Miller</div>
    <div class="dash">__________________</div>
    <div class="title">Front-End Web Developer</div>
    <ul>
      <li><a href="#/work
      ">Work</a></li>
      <li>|</li>
      <li><a href="#/resume">Resume</a></li>
      <li>|</li>
      <li><a href="#/connect
">Connect</a></li>
    </ul>
    <!-- <div class="coming">Full site coming soon.</div> -->
</div>


