<div class="home">
  <div class="leftBox"><img src="./graphics/codessplash.png"></div>
  <div class="homeMenu">
    <div class="name">Charlie Miller</div>
    <div class="dash">_____________</div>
    <div class="title">Front-End Web Developer</div>
    <ul>
      <li><a href="mailto:charlie@charlah.com">E-mail</a></li>
      <li>|</li>
      <li><a href="https://github.com/charlahcodes">Github</a></li>
      <li>|</li>
      <li><a href="http://www.linkedin.com/in/charlahcodes
">LinkedIn</a></li>
    </ul>
    <div class="coming">Full site coming soon.</div>
</div>


<!-- <footer>
  <p>&copy; 2015 Charlie Miller - <a href="mailto:charlie@thecharlah.com">charlie@thecharlah.com</a></p>
</footer> -->