<div class="resumePage">
  <div class="row skillsContainer">
    <h3 class="skillsTitle">Skills</h3>
    <ul class="small-block-grid-2 skillsList" data-equalizer>
      <li data-equalizer-watch>JavaScript: Experience with libraries including AngularJS, jQuery, Underscore.
      js, ReactJS and Backbone.js</li>
      <li data-equalizer-watch>HTML5/CSS3: Experience with responsive web design</li>
      <li data-equalizer-watch>Preprocessor tools - SASS, Bourbon/Neat</li>
      <li data-equalizer-watch>Development tools: Gulp, Bower, NPM, Mocha</li>
      <li data-equalizer-watch>Frameworks - Foundation, Bootstrap</li>
      <li data-equalizer-watch>Restful APIs: interacting with external APIs via AJAX</li>
      <li data-equalizer-watch>Versioning/Collaborating: Git, GitHub</li>
      <li data-equalizer-watch>Content Management Systems: Drupal, WordPress</li>
      <li data-equalizer-watch>Graphic design/photo editing: Adobe InDesign,
      Photoshop, and Lightroom</li>
      <li data-equalizer-watch>Video editing: Apple Final Cut Pro, Adobe Premiere</li>
      <li data-equalizer-watch>ESRI ArcGIS</li>
      <li data-equalizer-watch>Google Analytics</li>
      <li data-equalizer-watch>Experienced writer and editor: technical documents
      and instructions, press releases, articles, academic
      papers</li>
      <li data-equalizer-watch>Photography: Professional experience with photographing
      architecture, landscapes, and events.
      Portfolio available <a href="http://photo.charlah.com">here</a>.</li>
    </ul>
  </div>
  <div class="row experienceContainer">
    <h3 class="experienceTitle">Experience</h3>
    <div class="experienceItem">
      <h6>Front-End Engineering Student | The Iron Yard Academy | 9/2015 - 12/2015</h6>
      <ul class="small-block-grid-1" data-equalizer>
        <li data-equalizer-watch>Participated in an immersive 12-week course to learn HTML5, CSS3, and JavaScript. I honed my skills over the course of some 30 projects, becoming proficient in popular frameworks including jQuery, AngularJS, and ReactJS.</li>
        <li data-equalizer-watch>Worked on several group projects with Ruby on Rails and iOS developers.</li>
        <li data-equalizer-watch>Final project: created <i>Wanderful</i>, an app utilizing the Google Maps API and Heroku. Users can create and view customized walking tours, allowing them to “become a local” wherever they are.</li>
      </ul>
    </div>
    <div class="experienceItem">
      <h6>Historic Preservation Division, Georgia DNR | 3/2009 - 9/2015</h6>
      <ul class="small-block-grid-1" data-equalizer>
        <li data-equalizer-watch>Started out as the Media & Communications Coordinator and was later promoted to Outreach Program Manager. I managed 4 employees and was responsible for the public face of the division.</li>
        <li data-equalizer-watch>Communications & Outreach coordination
          <ul>
            <li>Webmaster, administrator of social media accounts</li>
            <li>Editor, designer, and occasional writer of email newsletter sent to over 4,000 recipients per month (via MailChimp).</li>
            <li>Wrote and edited press releases, publications, and articles. Collaborate with news media.</li>
            <li>Reviewed grant proposals for outreach projects.</li>
            <li>Assisted with the planning and execution of conferences, trainings, and events.</li>
            <li>Certified Local Government program coordinator</li>
            <li>Chair, Georgia Centennial Farm Awards</li>
          </ul>
        </li>
        <li data-equalizer-watch>IT lead
          <ul>
            <li>“First responder” for all IT issues, ranging from simple “break-fix” problems to office-wide outages.</li>
            <li>Frequent work with technicians from Dell, AT&T, and IBM on all issues that required outside assistance.</li>
            <li>Created training materials for staff on a variety of topics: software usage and installation, hardware usage.</li>
            <li>Oversaw major office-wide technology projects.</li>
          </ul>
        </li>
          <li data-equalizer-watch>Photographer/graphic designer
            <ul>
              <li>Architectural photographer for 85 National Register of Historic Places nominations.</li>
              <li>Public Affairs photography.</li>
              <li>Designed logos/graphics for numerous projects: events, websites, etc.</li>
            </ul>
        </li>
      </ul>
    </div>
    <div class="experienceItem">
      <h6>Graduate Research Assistant | Georgia State University | 5/2008 – 12/2009</h6>
      <ul class="small-block-grid-1" data-equalizer>
        <li data-equalizer-watch>Assisted a university professor with a video project documenting the history of metro Atlanta.</li>
      </ul>
    </div>
    <div class="experienceItem">
      <h6>Intern | Fox Theatre Institute | 5/2008 – 9/2008</h6>
    </div>
    <div class="experienceItem">
      <h6>Shift Manager | The Sharper Image | 9/2007 – 6/2008</h6>
    </div>
    <div class="experienceItem">
      <h6>Quality Assurance Intern | Cadillac Jack, Inc. | 5/2004 – 9/2007 (Summers)</h6>
      <ul class="small-block-grid-1" data-equalizer>
        <li data-equalizer-watch>Tested hardware and software platform to identify potential bugs and performance issues. Environment included Windows systems running Microsoft SQL server and Linux-based clients. Wrote simple queries to validate data in SQL database. Reported issues using Bugzilla.</li>
      </ul>
    </div>
    <div class="experienceItem">
      <h6>Volunteer and Tour Guide | Historic Oakland Cemetery | 12/2003 – Present</h6>
      <ul class="small-block-grid-1" data-equalizer>
        <li data-equalizer-watch>Give educational tours of the cemetery to paying groups.</li>
        <li data-equalizer-watch>Work in the retail shop and visitors center, assist with special events.</li>
        <li data-equalizer-watch>Provided assistance with website.</li>
      </ul>
    </div>
  </div>
  <div class="row educationContainer" >
    <h3 class="educationTitle">Education</h3>
    <div class="educationItem">
      <h6>Master of Heritage Preservation | Georgia State University | 2009</h6>
      <ul class="small-block-grid-1" data-equalizer>
        <li data-equalizer-watch>Major: Historic Preservation</li>
      </ul>
    </div>
    <div class="educationItem">
      <h6>Bachelor of Arts | Georgia State University | 2007</h6>
      <ul class="small-block-grid-1">
        <li>Major: Film & Video</li>
        <li>Minor: English</li>
      </ul>
    </div>
  </div>
  <div class="row">Download full PDF</div>
</div>