<div class="workPage">
<h2>Work</h2>
  <ul class="workList small-block-grid-2 medium-block-grid-2">
    <li class="workItem">
      <div class="overlayText">
        <h3>Wanderful</h3>
      </div>
      <div class="overlay"></div>
      <img src="/images/wanderful.jpg">
    </li>
    <li class="workItem">
      <div class="overlayText">
        <h3>Git (Git It Together)</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="overlay"></div>
      <img src="/images/git.jpg">
    </li>
  </ul>
</div>