<div class="workPage">
<h2>Work</h2>
  <ul class="workList small-block-grid-3 medium-block-grid-3">
    <li class="workItem">
      <div class="overlayText">
        <h3>Wanderful</h3>
        <p>App that lets users create and view custom walking tours, allowing them to "become a local" wherever they are.</p>
        <p>Tools used: AngularJS, jQuery Google Maps API, Foundation, Ruby on Rails backend</p>
        <a href="https://github.com/mapthefuture/FrontEnd"><button>Github</button></a>
        <a href="http://wanderful.surge.sh/"><button>Live demo</button></a>
      </div>
      <div class="overlay"></div> 
      <img class="screenshot" src="/images/wanderful.jpg">
    </li>
    <li class="workItem">
      <div class="overlayText">
        <h3>Git (Get It Together)</h3>
        <p>Game that scrambles any uploaded image and makes it into a tricky puzzle.</p>
        <p>Tools used: AngularJS, Foundation</p>
        <a href="https://github.com/happy-app/FE-Happy-Game"><button>Github</button></a>
        <a href="http://filthy-burst.surge.sh"><button>Live demo</button></a>
      </div>
      <div class="overlay"></div>
      <img class="screenshot" src="/images/git.jpg">
    </li>
    <li class="workItem">
      <div class="overlayText">
        <h3>Caesar's Malice</h3>
        <p>Turn-based game.</p>
        <p>Tools used: jQuery, Underscore</p>
        <a href="https://github.com/charlahcodes/turn-based-game"><button>Github</button></a>
        <a href="http://shaggy-addition.surge.sh/"><button>Live demo</button></a>
      </div>
      <div class="overlay"></div>
      <img class="screenshot" src="/images/malice.jpg">
    </li>
    <li class="workItem">
      <div class="overlayText">
        <h3>Dougstagram</h3>
        <p>Instagram clone.</p>
        <p>Tools used: ReactJS, Backbone</p>
        <a href="https://github.com/charlahcodes/backbone-and-react"><button>Github</button></a>
        <a href="http://ill-informed-committee.surge.sh/"><button>Live demo</button></a>
      </div>
      <div class="overlay"></div>
      <img class="screenshot" src="/images/doug.jpg">
    </li>
    <li class="workItem">
      <div class="overlayText">
        <h3>Sinstagram</h3>
        <p>Instagram clone with "like" counter.</p>
        <p>Tools used: AngularJS, Parse</p>
        <a href="https://github.com/charlahcodes/angular-instagram-clone"><button>Github</button></a>
        <a href="http://wistful-care.surge.sh/#/"><button>Live demo</button></a>
      </div>
      <div class="overlay"></div>
      <img class="screenshot" src="/images/sinstagram.jpg">
    </li>
    <li class="workItem">
      <div class="overlayText">
        <h3>Alley Cat Tavern website</h3>
        <p>A website for a fake restaurant.</p>
        <p>Tools used: jQuery, Underscore</p>
        <a href="https://github.com/luketgriffith/TIY-Team5"><button>Github</button></a>
        <a href="http://grouchy-comparison.surge.sh/"><button>Live demo</button></a>
      </div>
      <div class="overlay"></div>
      <img class="screenshot" src="/images/restaurant.jpg">
    </li>
  </ul>
</div>